{% extends "pages/page.html" %}
{% load mezzanine_tags %}
{% block title %}
    {% editable page.poll.title %}{{ page.poll.title }}{% endeditable %}
{% endblock %}

{% block main %}
    {{ block.super }}
    <p>Published at {{ page.poll.pub_date }}</p>
    <ul>
    {% for choice in page.poll.choice_set.all %}
    <li><b>{{ choice.choice_text }}</b> n. votes: <span class="badge">{{ choice.votes  }}</span></li>
    {% endfor %}
    </ul>

    <hr />
<h2>Vote!!!</h2>
{% if error_message %}<div class="alert alert-danger">{{ error_message }}</div>{% endif %}
{% if success_message %}<div class="alert alert-success">{{ success_message }}</div>{% endif %}
<form action="." method="post">
{% csrf_token %}
{% for choice in page.poll.choice_set.all %}
    <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" />
    <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br />
{% endfor %}
<input type="submit" value="Vote" />
</form>
{% endblock %}
